.footer{
    background: linear-gradient(264deg,#DF8908 -5.09% , #B415FF 106.28%);
    /* text-align: center; */
    padding: 30px;
    left: 0;
    bottom: 0;
    /* z-index: 100; */
    /* width: 100%; */
    align-items: center;
}
.footer p{
    color: white;
    font-size: 20px;
    font-weight: 500;
}

.footer-top-left h1{
    font-size: 50px;
    font-weight: 500;
    background: black;
        background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer-top-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
}

.footer-top-left p{
    font-size: 18px;
    font-weight: 300;
    color: #faf7f7;
    min-width: 50px;
    line-height: 25px;
    min-height: 50px;
    align-items: left;
}

.footer-top-right{
    display: flex;
    flex-direction: column;
    gap:10px;
    align-items: end;
}

.footer-top-right h1{
    font-size: 80px;
    font-weight: 600;
    background: black;
        background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer-top-right p{
    font-size: 20px;
    font-weight: 300;
    color: #faf7f7;
    /* min-width: 50px; */
    /* line-height: 25px; */
    /* min-height: 50px; */
    /* align-items: end; */
    margin-top:-15px;
}
.footer hr{
    border: 3px solid #000000;
    width:100%;
    margin-top: 10px;
align-items: end;
border-radius: 50px;

}

