.banner{
   
    display: flex;
    align-items: center;
flex-direction: column;
gap: 35px;
}

.banner img{
    width: 25%;
    height: 25%;
    object-fit: cover;
    border-radius: 50%;
 margin-top: 150px;
}

.banner h1{
    font-size:80px;
    width: 70%;
    font-weight: 600;
    color: #fff;
    text-align: center;
}

.banner h1 span ,p span{
background: linear-gradient(270deg, #DF8908 10% , #B415FF 100% );
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.banner p{
    font-size: 20px;
    width: 50%;
    color: #fff;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
}

.banner-action{
    display: flex;
    gap: 25px;
    margin-bottom: 50px;
    align-items: center;
font-size: 24px;
font-weight: 50px;
}

.banner-connect{
   padding: 25px 45px;
   border-radius: 50px;
   background: linear-gradient(264deg, #DF8908 -5.09% , #B415FF 106.28% );
cursor: pointer;}

.banner-resume{
    padding: 25px 45px;
   border-radius: 50px;
   border: 2px solid #fff;
  cursor: pointer;
}
.banner-connect:hover{
    /* background: linear-gradient(264deg, #B415FF -5.09% , #DF8908 106.28% ); */
border:  2px solid white
    
}

.banner-resume:hover{
    /* background: linear-gradient(264deg, #B415FF -5.09% , #DF8908 106.28% ); */

    border-color: #B415FF;
}

@media screen and (max-width: 768px){
    .banner h1{
        font-size: 50px;
        margin-top:-100px ;
        width: 90%;
    }
    .banner p{
        font-size: 20px;
    }
    .banner img{
        width: 50%;
        height: 50%;
        margin-bottom: 120px;
    }
    .banner-action{
        flex-direction: column;
    }
    .banner-connect{
        padding: 15px 25px;
    }
    .banner-resume{
        padding: 15px 25px;
    }
    
}
